.password-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fafc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.left-section {
  display: flex;
  align-items: center;
}

.avatar {
  background-color: #0b69ff;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.details {
  display: flex;
  flex-direction: column;
}

.website {
  font-weight: 600;
  margin: 2px 0;
}

.username {
  color: #64748b;
  margin: 2px 0;
}

.password {
  margin: 2px 0;
}

.stars {
  width: 120px;
  margin-top: 5px;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete-btn img {
  width: 20px;
}
